@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
        <h6>beta version</h6>
    </div>

    <main>
        <div class="top-row px-4">
            <h3>Летописна книга на ППМГ "Академик Никола Обрешков" - град Бургас</h3>
            <p>beta version</p>
        </div>

        <article class="content px-4">
            <ErrorDisplay />
            @Body
        </article>
    </main>
</div>
