@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
        
    </div>

    <main>
        <div class="top-row px-3">
            <h3 class="school-title">ППМГ " Академик Никола Обрешков" - град Бургас</h3>
        </div>

        <article class="content px-4">
            <ErrorDisplay />
            @Body
        </article>
    </main>
</div>
