@page "/"
@page "/home"


<header>
    <h1>Основна информация</h1>
    <nav>
        <a href="home" class="active">Основна информация</a>
        <a href="history">История</a>
        <a href="persona">Личности</a>
        <a href="https://pmgbs.com/" target="_blank">Официален сайт</a>
    </nav>
</header>

<main>

    <div class="info-grid">

        <!-- Patron Card -->
        <div class="card patron">
            <h3>Патрон на училището</h3>
            <img src="/img/home/patron.jpg" alt="Никола Обрешков" class="patron-img">

            <p>
                Никола Обрешков е роден на 6 март 1896 г. във Варна. Завършва Втора софийска гимназия и следва математика и физика в Софийския университет, като участва като офицер в Първата световна война. След завръщането си продължава обучението и през 1920 г. става асистент в университета. Бързо израства в академичната йерархия – през 1928 г. вече е редовен професор и ръководител на катедрата по висша алгебра, а от 1948 г. – на новосъздадената катедра по математическа статистика и застрахователна математика, която оглавява до смъртта си през 1963 г.
                Обрешков получава международно признание с докторски степени от Палермо и Сорбоната и изнася лекции в водещи университети в Европа. Участва в множество научни форуми, рецензира чуждестранни трудове и публикува над 250 научни статии, влиятелни учебници и монографии. От 1945 г. е академик в БАН и е удостоен с високи държавни отличия.
            </p>
        </div>

        <!-- Hymn Block 1 -->
        <div class="card hymn">
            <h3>Училищен химн</h3>
            <p>

                Животът ни е порив от задачи <br>
                с родилни мъки, с удар на криле. <br>
                Ний с теб приличаме на катерачи, <br>
                открили малък еделвайс в скала. <br>

                Ний първи победихме боговете <br>
                на формулите с точния закон <br>
                и в космоса посяхме земно цвете, <br>
                цъфтящо само в мирен небосклон. <br>

                /Припев/<br>
                Науката ни извисява, науката е дълг свещен.<br>
                На математиката слава, слава <br>
                и днес, и в утрешния ден! <br><br>...
            </p>
        </div>
        <div class="card hymn">
            <h3>Текст: Борис Бухчев</h3>
            <p>
                Планетата признателно ни гледа, <br>
                родината с любов ни среща днес, <br>
                защото ний сме воини на победа, <br>
                чието светло име е “прогрес”. <br>

                И все така напред в пътеки нови<br>
                и в дълбини сред морската вода,<br>
                щастливи сме, сплотени и в обнови,<br>
                които правят по-щастлив света.<br>...
            </p>
        </div>
    </div>
    <div class="info-grid">

        <!-- Logo -->
        <div class="card logo">
            <h3>Лого</h3>
            <img src="/img/home/logo.jpg" alt="Лого на училището">
        </div>

        <!-- Map -->
        <div class="card map">
            <h3>Къде се намираме</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1637.6252315388401!2d27.471136357404188!3d42.50133812043779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a69495955030ff%3A0x6fbcdf39102ac851!2sSchool%20of%20Mathematics%20and%20Natural%20Sciences%20Acad.%20Nikola%20Obreshkov!5e1!3m2!1sen!2sbg!4v1762539429922!5m2!1sen!2sbg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <!-- Contacts -->
        <div class="card contact">
            <h3>Контакти</h3>
            <p><strong>Адрес:</strong> Бургас 8000, бул. Стефан Стамболов 19</p>
            <p><strong>Тел.:</strong> 056/810083</p>
            <p><strong>Email:</strong>  info-200239@edu.mon.bg</p>

        </div>

    </div>

</main>

<footer>
    © 2025 ППМГ "Ак. Н. Обрешков" | Всички права запазени
</footer>

@code {

}

