@page "/persona"

<header>
        <h1>Личности</h1>
    <nav>
        <a href="home">Основна информация</a>
        <a href="history">История</a>
        <a href="persona" class="active">Личности</a>
        <a href="https://pmgbs.com/" target="_blank">Официален сайт</a>
    </nav>
</header>

<main>
    <section>
        <h2>Директори</h2>
        <ul class="profiles">
            <li>
                <img src="/img/home/avatar.png" alt="Директор 1">
                <p><strong>Марчо Друмев</strong><br>Период: 1987–1998 г.</p>
            </li>
            <li>
                <img src="/img/home/avatar.png" alt="Директор 1">
                <p><strong>Станчо Славов</strong><br>Период: 1998–2013 г.</p>
            </li>
            <li>
                <img src="/img/home/avatar.png" alt="Директор 1">
                <p><strong>Красимир Стоянов</strong><br>Период: 2013–2021 г.</p>
            </li>
            <li>
                <img src="/img/persons/SonqDimova.png" alt="Соня Димова">
                <p><strong>Соня Димова</strong><br>Период: 2021–2022 г.</p>
            </li>
            <li>
                <img src="/img/persons/MilenaAndonova.jpg" alt="Милена Андонова">
                <p><strong>Милена Андонова</strong><br>Период: 2022 - г.</p>
            </li>
        </ul>
    </section>

    <section>
        <h2>Учители</h2>
        <ul class="profiles">
            <li>
                <img src="images/teacher1.jpg" alt="Учител 1">
                <p><strong>Учител 1</strong><br>Предмет</p>
            </li>
            <li>
                <img src="images/tea" />
            </li>
        </ul>
    </section>
</main>


@code {

}
